.button{
    color: #fff;
    background-color: blueviolet;
    border: 0;
    border-radius: .3rem;
    outline: 0;
    cursor: pointer;
    padding: .5rem 1rem;
    &:hover{
        background-color: darkmagenta;
    }
}