/**
 * Variables
*/
:root {
  --color-text: #666;
  --color-text-sec: darkgray;
  --color-text-light: #fff;
  --bg-mobile-nav: #242424;
  --primary: #ff6666;
  --secondary: #735f7e;

  --breakpoint-xxs: 0;
  --breakpoint-xs: 400px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-xxxl: 1700px;

  --text-xs: 13px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --font-family: YekanBakh;
  --font-family-sec: IranSans;

  --shadow-md: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
